{
  "env": {
    "development": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": true,
          "pure": true
        }]
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": true,
          "pure": true
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  },
  "plugins": [
    "transform-flow-strip-types",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "components": "./components",
        "theme": "./theme"
      }
    }]
  ]
}
